section{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
div{
    height: 144px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}